@import 'theme';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #ffffff;
  @include theme-color('background', 'color-background');
}

a {
  text-decoration: none;
}

// @custom-media --viewport-4 (min-width: 480px);
// @custom-media --viewport-7 (min-width: 768px);
// @custom-media --viewport-9 (min-width: 992px);
// @custom-media --viewport-12 (min-width: 1200px);
